header {
  background-color: #b7a8dc;
  text-align: center;
}

h1,h2 {
  margin: 0;
  padding: 1.5rem;
  color: #782f78;
}

body {
  margin: 0;
  font-family: Arial;
  background: #ffd6ff;
}
.container {
  margin: 1rem;
  background-color: #c8b6ff;
  display: flex;
  flex-direction: column;
  width: 15rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 3px 3px 2px #b189ce;
}

.container h2 {
  color: #782f78;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  outline: none;
  background-color: #ffd6ff;
}

.form button {
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 2px 2px 1px rgb(17, 119, 22);
}

.form button:hover {
  background: rgb(17, 119, 22);
  box-shadow: 2px 2px 1px #4caf50;
}

#library {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.book-card {
  margin: 1rem;
  background-color: #c8b6ff;
  display: flex;
  flex-direction: column;
  width: 15rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 3px 3px 2px #b189ce;
}

.book-card strong {
  color: #782f78;
}

.book-card p {
  color: #333;
}

.book-card button {
  padding: 10px;
  margin: 0.8rem;
  background: #067dec;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 2px 2px 1px rgb(4, 90, 140);
}

.book-card button:hover {
  background: rgb(17, 119, 22);
  box-shadow: 2px 2px 1px #4caf50;
}

.book-card .removeBtn {
  background-color: red;
  box-shadow: 2px 2px 1px rgb(157, 25, 25);
}

.book-card .removeBtn:hover {
  background-color: rgb(157, 25, 25);
  box-shadow: 2px 2px 1px rgb(255, 0, 0);
}
