header {
  background-color: #b7a8dc;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 1.5rem;
  color: #fff;
}

body {
  margin: 0;
  font-family: Arial;
  background: #fefefe;
}
.container {
  margin: 1rem;
  background-color: red;
  display: flex;
  flex-direction: column;
  width: 15rem;
  padding: 1.2rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form button {
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#library {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
